.login__container {
  display: flex;
  height: 100vh;
  border-radius: 16px;
}
.login__container__image {
  flex: 1;
  width: 50%;
}
.login__container__image__img {
  width: 100%;
  display: flex;
  height: 100vh;
  object-fit: cover;
}
.go__to__signUp {
  color: #007893;
  cursor: pointer;
}
.login__content {
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em;
  gap: 1em;
  background-color: #ffffff;
}
.login__content__title {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 2em;
  font-weight: 600;
}
.login__content__form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 100%;
  max-width: 500px;
}
.login__content__form__input {
  width: 100%;
  padding: 0.9em 1em;
  border-radius: 30px;
  border: 1px solid #007893;
  outline: none;
}
.login__content__form__button {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  margin-top: 1em;
  border: none;
  outline: none;
  background-color: #007893;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.login__content__form__button:hover {
  background-color: #00657d;
  transition: 300ms ease-in-out;
}

.container__main__content__details__main__input__login {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: 1em;
  border-radius: 9px;
  color: var(--blue);
  flex-direction: column;
}
.container__input__field__wrapper__login {
  position: relative;
  width: 100%;
  color: var(--blue);
}
.container__main__input__login__field {
  padding: 1.2em 1.5em;
  border-color: var(--lightBlue);
  border-radius: 50px;
  width: 100%;
  padding: 1.2em 1.5em;
  border-radius: 50px;
  border: 1px solid var(--grey);
  background-color: transparent;
  outline: none;
  height: 100%;
}
.container__main__input__login__field:focus {
  border-color: var(--blue);
}
.container__main__content__details__main__input__label__login {
  position: absolute;
  top: 1.9em;
  left: 1.2em;
  padding: 4px 8px;
  padding-right: 80px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 0.8em;
  color: var(--blue);
  background-color: var(--white);
  color: var(--lightBlue);
  width: fit-content;
  font-weight: 400;
  transition: 300ms ease-in-out;
  border-radius: 12px;
}
.container__main__content__details__main__input__label__login.filled,
.container__main__content__details__main__input__label__login.focused {
  transition: all 0.2s ease;
  top: 5px;
  left: 10px;
  transform: translateY(-100%);
  font-size: 12px;
  color: var(--lightBlue);
  padding: 0 12px;
  z-index: 1;
}
.container__main__content__details__main__input__label__login.focused {
  color: var(--blue);
}
@media (max-width: 850px) {
  .login__container__image {
    display: none;
  }
}
